* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
}
#clock, #cpu, #memory, #temperature, #disk, #tray, #cava, #network,
#backlight, #pulseaudio, #battery, #custom-power, #mpris, #window {
    padding: 2px 6px;  /* reduce internal spacing */
    margin: 4px;       /* reduce spacing between modules */
    text-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(43, 48, 59, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}


window#waybar.hidden {
    opacity: 0.0;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;

}

/* you can set a style on hover for any module like this */


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: transparent;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background-color: rgba(118, 121, 117, 0.4);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#cpu button.active {
    background-color: rgba(118, 121, 117, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}
#network:hover {
    background: rgba(0, 0, 0, 0.2);
}
#power-profiles-daemon:hover {
    background: rgba(0, 0, 0, 0.2);
}
#workspaces {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 1px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 4px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#window {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#mpris {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#mpris:hover {
    background-color: rgba(0, 0, 0, 0.3); /* more solid on hover */
}
label:focus {
    background-color: #000000;
}
#cpu {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 1px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#cpu:hover {
    background-color: rgba(0, 0, 0, 0.3); /* more solid on hover */
}
#memory {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 1px;                               /* spacing between other modules */
}
#temperature {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 1px;                               /* spacing between other modules */
}
#temperature.critical {
    background-color: #eb4d4b;
}
#disk {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 1px;                               /* spacing between other modules */
}
#tray {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
#cava {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
    padding: 0 8px;      /* this effectively fixes its width for a given bar count */
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
}
#clock {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#clock:hover {
    background-color: rgba(0, 0, 0, 0.3); /* more solid on hover */
}
#network {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#network:hover {
    background: rgba(0, 0, 0, 0.3);
}
#network.disconnected {
    background-color: #f53c3c;
}
#backlight {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#backlight:hover {
    background: rgba(0, 0, 0, 0.3);
}
#pulseaudio {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#pulseaudio:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#pulseaudio.muted {
    background-color: rgba(94, 99, 109, 0);
    color: #ffffff;
}
#pulseaudio.muted:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#battery {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    margin: 2px;                               /* spacing between other modules */
    transition: background-color 0.3s ease;      /* smooth hover effect */
}
#battery:hover {
    background: rgba(0, 0, 0, 0.3);
}
#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(94, 99, 109, 0);
}
#battery.charging:hover {
    background: rgba(0, 0, 0, 0.3);
}


@keyframes blink {
    to {
        background-color: rgba(94, 99, 109, 0);
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgb(255, 0, 0);
    color: rgba(94, 99, 109, 0);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-power {
    color: #ffffff;
    border-radius: 12px;                         /* rounded corners */
    transition: background-color 0.3s ease;      /* smooth hover effect */
    padding-right: 11px;
}
#custom-power:hover {
    background-color: rgba(0, 0, 0, 0.3); /* more solid on hover */
}
